.outerNinja {
    display: inline-grid;
    grid-template-columns: 1fr 8fr 0.5fr;
    /* grid-template-rows: 1fr 9fr; */
    outline: 2px solid black;
    margin: 20px;
    padding: 0px;
    height: 30%;
    width: 30%;
    position: relative;
}

.removeButton {
    grid-column-start: 3;
    height: 25%;
    color: white;
    border-radius: 5px;
    background-color: red;
    width: 100%;
    margin: 0px;
}

.ninjaData {
    grid-column-start: 2;
    border-left: 2px solid red;

    margin: 0px;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.innerLeft {
    margin: 10px;
}

.header {
    background-color: gray;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    margin: 0px;
}

.emoji {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
}